{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('visualization', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawFbaChart);

      var fbaData;
      var fbaChart;

      function drawFbaChart() {

        fbaData = new google.visualization.DataTable();
        var total_orders = 0;

        fbaData.addColumn('string', '');
        fbaData.addColumn('number', 'Count');
        fbaData.addColumn('number', 'Total Weight');

        {% for row in transfer_orders %}
          fbaData.addRows([
              ['{{ row.Date }}', {{ row.Cnt }}, {{ row.TotalWeight }}]
            ]);
        {% endfor %}

        var options = {
          chart: {
            height: '100%',
          },
          backgroundColor: 'transparent',
          chartArea: {
            backgroundColor: 'transparent'
          },
          seriesType: 'bars',
          series: {
            1: {
              type: 'line',
              targetAxisIndex:1
            }
          },
          hAxis: {
            title: null,
          },
          vAxes: {
            0: {
              title: 'Count',
              baseline: 0,
            },
            1: {
              title: 'Weight (lbs.)',
              baseline: 0,
            }
          }
        };

        fbaChart = new google.visualization.ComboChart(document.getElementById('transfer_chart_div'));
        fbaChart.draw(fbaData, options);

        google.visualization.events.addListener(fbaChart, 'select', selectBar);
      };

      function selectBar(){
        var selection = fbaChart.getSelection();
        if (typeof selection[0] == "undefined") {
          return;
        }
        var select_date = fbaData.getValue(selection[0].row, 0);

        $("#transfers_table").load("/orders/warehouse_orders/transfers_table?select_date=" + select_date + '&interval=' + $('#interval').val());
      };
    </script>
  </head>

  <body>
    <div class="container-fluid">
      <div id="transfer_chart_div" style="height: 400px;"></div>
    </div>
    
  </body>
</html>