{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "dashboard.ico" %}">

    
    <title>NorthShore Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'bootstrap/docs/assets/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'dashboard/dashboard.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'bootstrap/docs/assets/js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Dependencies for bootstrap-sortable -->
    <link href="{% static 'bootstrap/dist/css/bootstrap-sortable.css' %}" rel="stylesheet">

    <link href="{% static 'orders/css/style.css' %}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.js"></script>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <span style="padding-right: 5px"><img src="{% static "dashboard.png" %}" style="width: 25px; height: 25px"></img></span>
            NorthShore Dashboard
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_staff %}
            <li><a href="#">Dashboard</a></li>
            {% if request.user.is_superuser %}
              <li><a href="/admin">Admin</a></li>
            {% endif %}
            <li><a href="/authentication/list">Users</a></li>
            <li><a href="/authentication/{{ request.user.id }}">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
            {% endif %}

          </ul>
          <!-- <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form> -->
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        
        <div class="col-sm-3 col-md-2 sidebar">
          {% if request.user.is_staff %}
          <ul class="nav nav-sidebar">
            <li class="{% block navbar_class-overview %}{% endblock %}"><a href="/orders">Customer Sales Orders<span class="sr-only">(current)</span></a></li>
            <li class="{% block navbar_class-search %}{% endblock %}"><a href="/orders/order_search/">Search for Order</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="{% block navbar_class-open_orders %}{% endblock %}"><a href="/orders/open_orders">Open Orders</a></li>
            <li class="{% block navbar_class-warehouse_orders %}{% endblock %}"><a href="/orders/warehouse_orders">Warehouse Transfer Orders</a></li>
            <li class="{% block navbar_class-backorder_orders %}{% endblock %}"><a href="/orders/backorder_orders">Backorder Orders</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="{% block navbar_class-completed_boxes %}{% endblock %}"><a href="/orders/completed_boxes">Completed Boxes</a></li>
            <li class="{% block navbar_class-packer_overview %}{% endblock %}"><a href="/orders/packer_overview">Shipments by Packer</a></li>
            <li class="{% block navbar_class-item_sales %}{% endblock %}"><a href="/orders/item_sales">Item Sales History</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/syspro_web/">Syspro Web Interface</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <!-- <li class="{% block navbar_class-reports %}{% endblock %}"><a href="/reports">Reports</a></li> -->
          </ul>
          {% elif request.user.is_authenticated %}
          <ul class="nav nav-sidebar">
            <li><a href="/packer_logout">Logout</a></li>
          </ul>
          {% endif %}
        </div>
        

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% block content %}
        {% endblock %}
        </div>

      </div>
    </div> 

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="{% static 'bootstrap/docs/assets/js/vendor/jquery.min.js' %}"><\/script>')</script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static 'bootstrap/docs/assets/js/vendor/holder.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'bootstrap/docs/assets/js/ie10-viewport-bug-workaround.js' %}"></script>

    <script src="{% static 'bootstrap/dist/js/bootstrap-sortable.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/moment.min.js' %}"></script>
    <script src="{% static 'orders/js/app.js' %}"></script>
    <script src="{% static 'orders/js/controllers/main_controller.js' %}"></script>
    <script src="{% static 'orders/js/directives/export_to_csv.js' %}"></script>

  </body>

</html>