{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<html>
  <head>
    <link href="{% static 'orders/css/datepicker.css' %}" rel="stylesheet">
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('visualization', {'packages':['corechart', 'bar']});

      // Set a callback to run when the Google Visualization API is loaded.
      // google.charts.setOnLoadCallback(drawPieChart);
      google.charts.setOnLoadCallback(drawBoxesChart);

      var boxesData;
      var boxesChart;

      function drawBoxesChart() {

        //Create data table.
        boxesData = new google.visualization.DataTable();
        boxesData.addColumn('string', '');
        boxesData.addColumn('number', 'Transfer');
        boxesData.addColumn('number', 'Standard');
        boxesData.addColumn('number', 'Amazon Prime');

        var total_boxes = 0;
        var standard_boxes = 0;
        var transfer_boxes = 0;
        var amazon_boxes = 0;

        {% for hour in boxes %}
          boxesData.addRows([
            ['{{ hour.ConfirmedHour }}', {{ hour.Transfer }}, {{ hour.Standard }}, {{ hour.AmazonPrime }}]
          ]);
          total_boxes += {{hour.Cnt}};
          standard_boxes += {{hour.Standard}};
          transfer_boxes += {{hour.Transfer}};
          amazon_boxes += {{hour.AmazonPrime}};
        {% endfor %}

        //Chart options
        var options = {
          chart: {
            title: '',
            height: '100%',
          },
          backgroundColor: 'transparent',
          hAxis: {
            title: null,
            format: 'h:mm a',
          },
          legend: {
            position: 'right',
          },
          bars: 'vertical',
          isStacked: true,
          focusTarget: 'category',
        };

        boxesChart = new google.charts.Bar(document.getElementById('boxes_chart_div'));
        boxesChart.draw(boxesData, google.charts.Bar.convertOptions(options));

        $('#total_boxes').text(total_boxes);
        $('#standard_boxes').text(standard_boxes);
        $('#transfer_boxes').text(transfer_boxes);
        $('#amazon_boxes').text(amazon_boxes);
      }
    </script>
  </head>

  <body>
    <div class="row">
      <div id="boxes_chart_div" style="height: 300px;"></div>
    </div>
    
  </body>
</html>